:root {
  --primary: #5755d9;
  --blackish: #131c29;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--blackish);
  color: var(--primary);
}
